<div class="sidenav-header">
  <img src="https://avatars.githubusercontent.com/u/79676550?v=4"
  [width]="profilePicSize"
  [height]="profilePicSize">
  <div class="header-text" [class.hidden-header-text]="collapsed">
    <h2>Your Channel</h2>
    <p>Gustavo Esteves Rocha</p>
  </div>
</div>
<mat-nav-list>
  <a mat-list-item *ngFor="let item of menuItems" (click)="navigateTo(item)" [activated]="item.isActive">
    <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
    <span matListItemTitle *ngIf="!collapsed">{{item.label}}</span>
  </a>
</mat-nav-list>
