<mat-toolbar class="mat-toolbar mat-elevation-z3">
  <button mat-icon-button aria-label="Example icon-button with menu icon" (click)="onToggleCollapsed()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Studio</span>
  <span class="example-spacer"></span>
  <mat-form-field appearance="outline" class="search-bar half-full-width">
    <mat-icon matSuffix class="cursor-pointer" fontSet="material-icons-outlined">keyboard</mat-icon>
    <mat-icon matSuffix class="cursor-pointer">search</mat-icon>
    <input matInput placeholder="Pesquisar..." value="Sushi">
  </mat-form-field>
  <button mat-icon-button aria-label="Example icon-button with mic icon">
    <mat-icon>mic</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button aria-label="Example icon-button with videocam icon">
    <mat-icon fontSet="material-icons-outlined">videocam</mat-icon>
  </button>
  <button mat-icon-button class="cursor-pointer notifications-icon" aria-label="Example icon-button with heart icon">
    <mat-icon fontSet="material-icons-outlined">notifications</mat-icon>
  </button>
  <button mat-icon-button class="cursor-pointer account_circle-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
