.mat-toolbar {
  background-color: #fff;
  position: relative;
  z-index: 5;
  height: 75px;

  .example-spacer {
    flex: 1 1 auto;
  }

  .half-full-width {
    width: 100%;
    max-width: 600px;
    margin-top: 1rem;
  }

  .search-bar {
    height: 72px;
  }

  .cursor-pointer {
    cursor: pointer;
  }

}
